#root{

}

.personList{
    list-style: none;
    border: 3px solid black;
    padding: 0;
    margin: 0;
    width: fit-content;
    margin: 0 auto;
    padding: 3px;
    box-sizing: border-box;
}

.person{
    font-family: Arial;
    font-size: 1.2em;
    height: 50px;
    border: 2px solid black;
    margin: 5px;
    width: 600px;
    display: flex;
    align-items: center;
    padding: 5px;
}
.statistics{
    display: flex;
    width:600px;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;

}
.stat{
    border: 2px solid black;
    width: 150px;
    margin: 5px;
    font-family: Arial;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    padding: 5px;
}
